header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: nowrap;
  padding: 1em;
  .logo-header {
    max-height: 3em;
  }
  .social {
    font-size: 1.75em;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 0.125em;
  }
  &.navbar {
    background-color: #fffc;
  }
}
img.coverPhoto {
  margin: auto;
  margin-bottom: 2em;
  &.isNarrow {
    max-width: 300px;
  }
}
.columns.footer.blogpostFooter {
  background-color: transparent;
  margin-top: 2em;
  bottom: 0;
}
